<html>
<head>
<title>activity_hints.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #080808; font-style: italic;}
.s1 { color: #174ad4;}
.s2 { color: #080808;}
.s3 { color: #067d17;}
.s4 { color: #0033b3;}
.s5 { color: #8c8c8c; font-style: italic;}
</style>
</head>
<body bgcolor="#ffffff">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#c0c0c0" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_hints.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s3">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s3">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s2">&lt;</span><span class="s4">androidx.constraintlayout.widget.ConstraintLayout </span><span class="s1">xmlns:android</span><span class="s3">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s3">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s3">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s3">=&quot;match_parent&quot;</span>
    <span class="s1">tools:context</span><span class="s3">=&quot;.HintsActivity&quot;</span><span class="s2">&gt;</span>

<span class="s5">&lt;!--    &lt;ImageView--&gt;</span>
<span class="s5">&lt;!--        android:id=&quot;@+id/background_image_4&quot;--&gt;</span>
<span class="s5">&lt;!--        android:layout_width=&quot;421dp&quot;--&gt;</span>
<span class="s5">&lt;!--        android:layout_height=&quot;731dp&quot;--&gt;</span>
<span class="s5">&lt;!--        android:contentDescription=&quot;@string/background_design&quot;--&gt;</span>
<span class="s5">&lt;!--        app:layout_constraintBottom_toBottomOf=&quot;parent&quot;--&gt;</span>
<span class="s5">&lt;!--        app:layout_constraintEnd_toEndOf=&quot;parent&quot;--&gt;</span>
<span class="s5">&lt;!--        app:layout_constraintStart_toStartOf=&quot;parent&quot;--&gt;</span>
<span class="s5">&lt;!--        app:srcCompat=&quot;@drawable/big_paw_light_gradient&quot; /&gt;--&gt;</span>

    <span class="s2">&lt;</span><span class="s4">ImageView</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/hint_image&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;227dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;131dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;52dp&quot;</span>
        <span class="s1">android:contentDescription</span><span class="s3">=&quot;@string/random_car_image&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">tools:srcCompat</span><span class="s3">=&quot;@tools:sample/avatars&quot; </span><span class="s2">/&gt;</span>

    <span class="s2">&lt;</span><span class="s4">GridView</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/gridViewAnswer&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;310dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;86dp&quot;</span>
        <span class="s1">android:layout_alignParentStart</span><span class="s3">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentLeft</span><span class="s3">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;36dp&quot;</span>
        <span class="s1">android:columnWidth</span><span class="s3">=&quot;40dp&quot;</span>
        <span class="s1">android:horizontalSpacing</span><span class="s3">=&quot;4dp&quot;</span>
        <span class="s1">android:numColumns</span><span class="s3">=&quot;auto_fit&quot;</span>
        <span class="s1">android:stretchMode</span><span class="s3">=&quot;columnWidth&quot;</span>
        <span class="s1">android:verticalSpacing</span><span class="s3">=&quot;4dp&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s3">=&quot;0.495&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s3">=&quot;@+id/gridViewSuggestion&quot; </span><span class="s2">/&gt;</span>

    <span class="s2">&lt;</span><span class="s4">GridView</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/gridViewSuggestion&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;310dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;86dp&quot;</span>
        <span class="s1">android:layout_alignParentStart</span><span class="s3">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentLeft</span><span class="s3">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;16dp&quot;</span>
        <span class="s1">android:columnWidth</span><span class="s3">=&quot;40dp&quot;</span>
        <span class="s1">android:horizontalSpacing</span><span class="s3">=&quot;4dp&quot;</span>
        <span class="s1">android:numColumns</span><span class="s3">=&quot;auto_fit&quot;</span>
        <span class="s1">android:stretchMode</span><span class="s3">=&quot;columnWidth&quot;</span>
        <span class="s1">android:verticalSpacing</span><span class="s3">=&quot;4dp&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s3">=&quot;0.495&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s3">=&quot;@+id/hint_image&quot; </span><span class="s2">/&gt;</span>

    <span class="s2">&lt;</span><span class="s4">Button</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/submit_btn&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s3">=&quot;56dp&quot;</span>
        <span class="s1">android:text</span><span class="s3">=&quot;@string/submit&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s3">=&quot;0.534&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s3">=&quot;parent&quot; </span><span class="s2">/&gt;</span>

    <span class="s2">&lt;</span><span class="s4">TextView</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/result_text&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s3">=&quot;@+id/gridViewAnswer&quot; </span><span class="s2">/&gt;</span>

    <span class="s2">&lt;</span><span class="s4">TextView</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/correct_carMake_answer&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;250dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;30dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;12dp&quot;</span>
        <span class="s1">android:gravity</span><span class="s3">=&quot;center|center_horizontal&quot;</span>
        <span class="s1">android:textColor</span><span class="s3">=&quot;@color/purple_700&quot;</span>
        <span class="s1">android:textSize</span><span class="s3">=&quot;16sp&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s3">=&quot;0.496&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s3">=&quot;@+id/result_text&quot; </span><span class="s2">/&gt;</span>

    <span class="s2">&lt;</span><span class="s4">TextView</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/timer_text&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s3">=&quot;27dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s3">=&quot;27dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;11dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s3">=&quot;28dp&quot;</span>
        <span class="s1">android:layout_marginRight</span><span class="s3">=&quot;28dp&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s3">=&quot;12dp&quot;</span>
        <span class="s1">android:textColor</span><span class="s3">=&quot;#D4E813&quot;</span>
        <span class="s1">android:textSize</span><span class="s3">=&quot;24sp&quot;</span>
        <span class="s1">android:visibility</span><span class="s3">=&quot;invisible&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s3">=&quot;@+id/circular_progress_timer&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s3">=&quot;@+id/circular_progress_timer&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s3">=&quot;@+id/circular_progress_timer&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s3">=&quot;@+id/circular_progress_timer&quot; </span><span class="s2">/&gt;</span>

    <span class="s2">&lt;</span><span class="s4">ProgressBar</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/circular_progress_timer&quot;</span>
        <span class="s1">style</span><span class="s3">=&quot;?android:progressBarStyleHorizontal&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;55dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;55dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;24dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s3">=&quot;4dp&quot;</span>
        <span class="s1">android:layout_marginRight</span><span class="s3">=&quot;4dp&quot;</span>
        <span class="s1">android:progress</span><span class="s3">=&quot;0&quot;</span>
        <span class="s1">android:progressDrawable</span><span class="s3">=&quot;@drawable/circular_progress&quot;</span>
        <span class="s1">android:rotation</span><span class="s3">=&quot;-90&quot;</span>
        <span class="s1">app:layout_constraintRight_toRightOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s3">=&quot;parent&quot; </span><span class="s2">/&gt;</span>


<span class="s2">&lt;/</span><span class="s4">androidx.constraintlayout.widget.ConstraintLayout</span><span class="s2">&gt;</span></pre>
</body>
</html>