<html>
<head>
<title>activity_identify_car_image.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #080808; font-style: italic;}
.s1 { color: #174ad4;}
.s2 { color: #080808;}
.s3 { color: #067d17;}
.s4 { color: #0033b3;}
</style>
</head>
<body bgcolor="#ffffff">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#c0c0c0" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_identify_car_image.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s3">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s3">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s2">&lt;</span><span class="s4">androidx.constraintlayout.widget.ConstraintLayout </span><span class="s1">xmlns:android</span><span class="s3">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s3">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s3">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s3">=&quot;match_parent&quot;</span>
    <span class="s1">android:background</span><span class="s3">=&quot;@color/white&quot;</span>
    <span class="s1">tools:context</span><span class="s3">=&quot;.IdentifyCarImageActivity&quot;</span><span class="s2">&gt;</span>


    <span class="s2">&lt;</span><span class="s4">TextView</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/carType_name_label&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;300dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;16dp&quot;</span>
        <span class="s1">android:gravity</span><span class="s3">=&quot;center|center_horizontal&quot;</span>
        <span class="s1">android:textAppearance</span><span class="s3">=&quot;@style/TextAppearance.AppCompat.Body2&quot;</span>
        <span class="s1">android:textColor</span><span class="s3">=&quot;@color/purple_200&quot;</span>
        <span class="s1">android:textSize</span><span class="s3">=&quot;22sp&quot;</span>
        <span class="s1">android:textStyle</span><span class="s3">=&quot;normal&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s3">=&quot;parent&quot; </span><span class="s2">/&gt;</span>

    <span class="s2">&lt;</span><span class="s4">LinearLayout</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/car_choice&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;210dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;450dp&quot;</span>
        <span class="s1">android:orientation</span><span class="s3">=&quot;vertical&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s3">=&quot;0.5&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s3">=&quot;@+id/identify_car_identify_instructions&quot;</span><span class="s2">&gt;</span>

        <span class="s2">&lt;</span><span class="s4">ImageView</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/first_car_image&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;210dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;150dp&quot;</span>
            <span class="s1">android:contentDescription</span><span class="s3">=&quot;@string/image_of_first_car_description&quot;</span>
            <span class="s1">android:onClick</span><span class="s3">=&quot;checkAnswerFirst&quot;</span>
            <span class="s1">android:paddingBottom</span><span class="s3">=&quot;8dp&quot; </span><span class="s2">/&gt;</span>

        <span class="s2">&lt;</span><span class="s4">ImageView</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/second_car_image&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;210dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;150dp&quot;</span>
            <span class="s1">android:contentDescription</span><span class="s3">=&quot;@string/image_of_second_car_description&quot;</span>
            <span class="s1">android:onClick</span><span class="s3">=&quot;checkAnswerSecond&quot;</span>
            <span class="s1">android:paddingBottom</span><span class="s3">=&quot;8dp&quot; </span><span class="s2">/&gt;</span>

        <span class="s2">&lt;</span><span class="s4">ImageView</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/third_car_image&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;210dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;150dp&quot;</span>
            <span class="s1">android:contentDescription</span><span class="s3">=&quot;@string/image_of_third_car_description&quot;</span>
            <span class="s1">android:onClick</span><span class="s3">=&quot;checkAnswerThird&quot; </span><span class="s2">/&gt;</span>

    <span class="s2">&lt;/</span><span class="s4">LinearLayout</span><span class="s2">&gt;</span>

    <span class="s2">&lt;</span><span class="s4">Button</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/next_button&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;170dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;4dp&quot;</span>
        <span class="s1">android:onClick</span><span class="s3">=&quot;showNextImageSet&quot;</span>
        <span class="s1">android:text</span><span class="s3">=&quot;@string/next&quot;</span>
        <span class="s1">android:textAllCaps</span><span class="s3">=&quot;false&quot;</span>
        <span class="s1">android:textColor</span><span class="s3">=&quot;@color/white&quot;</span>
        <span class="s1">android:textSize</span><span class="s3">=&quot;18sp&quot;</span>
        <span class="s1">app:backgroundTint</span><span class="s3">=&quot;@color/purple_500&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s3">=&quot;0.497&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s3">=&quot;@+id/car_choice&quot;</span>
        <span class="s1">app:rippleColor</span><span class="s3">=&quot;#88FFFFFF&quot; </span><span class="s2">/&gt;</span>

    <span class="s2">&lt;</span><span class="s4">TextView</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/result_text&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;200dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;35dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;8dp&quot;</span>
        <span class="s1">android:gravity</span><span class="s3">=&quot;center|center_horizontal&quot;</span>
        <span class="s1">android:textColor</span><span class="s3">=&quot;#3F51B5&quot;</span>
        <span class="s1">android:textSize</span><span class="s3">=&quot;24sp&quot;</span>
        <span class="s1">android:textStyle</span><span class="s3">=&quot;bold|italic&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s3">=&quot;0.497&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s3">=&quot;@+id/carType_name_label&quot; </span><span class="s2">/&gt;</span>

    <span class="s2">&lt;</span><span class="s4">TextView</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/timer_text&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s3">=&quot;27dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s3">=&quot;27dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;11dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s3">=&quot;28dp&quot;</span>
        <span class="s1">android:layout_marginRight</span><span class="s3">=&quot;28dp&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s3">=&quot;12dp&quot;</span>
        <span class="s1">android:textColor</span><span class="s3">=&quot;#D4E813&quot;</span>
        <span class="s1">android:textSize</span><span class="s3">=&quot;24sp&quot;</span>
        <span class="s1">android:visibility</span><span class="s3">=&quot;invisible&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s3">=&quot;@+id/circular_progress_timer&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s3">=&quot;@+id/circular_progress_timer&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s3">=&quot;@+id/circular_progress_timer&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s3">=&quot;@+id/circular_progress_timer&quot; </span><span class="s2">/&gt;</span>

    <span class="s2">&lt;</span><span class="s4">ProgressBar</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/circular_progress_timer&quot;</span>
        <span class="s1">style</span><span class="s3">=&quot;?android:progressBarStyleHorizontal&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;55dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;55dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;24dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s3">=&quot;4dp&quot;</span>
        <span class="s1">android:layout_marginRight</span><span class="s3">=&quot;4dp&quot;</span>
        <span class="s1">android:progress</span><span class="s3">=&quot;0&quot;</span>
        <span class="s1">android:progressDrawable</span><span class="s3">=&quot;@drawable/circular_progress&quot;</span>
        <span class="s1">android:rotation</span><span class="s3">=&quot;-90&quot;</span>
        <span class="s1">app:layout_constraintRight_toRightOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s3">=&quot;parent&quot; </span><span class="s2">/&gt;</span>

    <span class="s2">&lt;</span><span class="s4">TextView</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/identify_car_identify_instructions&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:text</span><span class="s3">=&quot;@string/carImage_instructions&quot;</span>
        <span class="s1">android:textColor</span><span class="s3">=&quot;@color/purple_200&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s3">=&quot;@+id/result_text&quot; </span><span class="s2">/&gt;</span>

<span class="s2">&lt;/</span><span class="s4">androidx.constraintlayout.widget.ConstraintLayout</span><span class="s2">&gt;</span></pre>
</body>
</html>